couchbase==2.0.8
Django==1.11.23
django-extensions==1.6.1
django-tastypie==0.12.2
meld3==1.0.2
python-dateutil==2.4.2
python-mimeparse==0.1.4
pytz==2016.4
requests==2.20.0
shortuuid==0.4.3
six==1.10.0
supervisor==3.1.4
